<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Редактировать вакансию</title>
  <div th:replace="~{fragments :: header-css}"></div>
</head>
<body class="container">
<div th:replace="~{fragments :: navbar}"></div>

<h1>Редактирование вакансии</h1>

<form th:action="@{/vacancies/edit}" th:object="${vacancy}" method="post">
  <input type="hidden" th:field="*{id}">

  <div class="mb-3">
    <label class="form-label">Заголовок</label>
    <input type="text" th:field="*{title}" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Описание</label>
    <textarea th:field="*{description}" class="form-control" rows="3"></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Зарплата (оставь пустым для договорной)</label>
    <input type="number" th:field="*{salary}" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Сохранить изменения</button>
  <a href="/vacancies" class="btn btn-secondary">Отмена</a>
</form>
</body>
</html>